.navbar_bg {
    background: rgba(14, 29, 52, 0.9);
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgb(14 29 52 / 10%);
    z-index: 99;
    width: 100%;
}

.nav_link {
    color: rgba(255, 255, 255, 0.6);
}

.nav_link:hover {
    color: #ffffff;
}

.dropdown_menu {
    left: -100px !important;
}