/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.info_item+.info_item {
    margin-top: 40px;
}

.info_item i {
    font-size: 20px;
    background: var(--color-primary);
    color: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.info_item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--color-secondary);
}

.info_item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(14, 29, 52, 0.8);
}

.php_email_form {
    width: 100%;
    background: #fff;
}

.php_email_form .form_group {
    padding-bottom: 8px;
}

.php_email_form .error_message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.php_email_form .error_message br+br {
    margin-top: 25px;
}

.php_email_form .sent_message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.php_email_form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.php_email_form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.php_email_form input,
.php_email_form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.php_email_form input {
    height: 44px;
}

.php_email_form textarea {
    padding: 10px 12px;
}

.php_email_form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
}

.php_email_form button[type=submit]:hover {
    background: rgba(13, 66, 255, 0.8);
}

.google_map {
    border: 0;
    width: 100%;
    height: 340px;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}