.carousel_container {
    padding-top: 93px;
}

.slider_title {
    width: max-content;
    margin: auto;
    padding: 20px 40px;
    background: rgb(14 29 52 / 55%);
    border-radius: 10px;
    color: #ffffff;
}
