/*--------------------------------------------------------------
# Add Car
--------------------------------------------------------------*/
.addCar_container {
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 10px;
}

.from_terr {
    padding-left: 45px;
    background: url(/form/from.svg) left 14px center no-repeat;
}

.to_terr {
    padding-left: 45px;
    background: url(/form/to.svg) left 14px center no-repeat;
}
