/*--------------------------------------------------------------
# Category
--------------------------------------------------------------*/
.category_container {
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 10px;
}

.pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s;
    cursor: pointer;
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable_header {
    padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable_header {
    background: #ff9624
}

.pricingTable .pricingTable_header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price_value {
    font-size: 35px;
    color: #ff9624;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price_value,
.pricingTable:hover .pricingTable_header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 24px;
    color: #ff9624;
    margin-bottom: 20px;
    text-transform: uppercase
}

.pricingTable .pricing_content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing_content ul li {
    line-height: 30px;
    color: #a7a8aa
}

.pricingTable .pricingTable_signup span {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #ffa442;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable_signup span:hover {
    box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price_value {
    color: #4b64ff
}

.pricingTable.blue .pricingTable_signup span,
.pricingTable.blue:hover .pricingTable_header {
    background: #4b64ff
}

.pricingTable.blue .pricingTable_signup span:hover {
    box-shadow: 0 0 10px #4b64ff
}

.pricingTable.green .heading,
.pricingTable.green .price_value {
    color: #40c952
}

.pricingTable.green .pricingTable_signup span,
.pricingTable.green:hover .pricingTable_header {
    background: #40c952
}

.pricingTable.green .pricingTable_signup span:hover {
    box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price_value,
.pricingTable.green:hover .price_value,
.pricingTable.red:hover .price_value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px
    }
}