/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  padding-top: 80px;
}

.features .features_item+.features_item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .features .features_item+.features_item {
    margin-top: 40px;
  }
}

.features .features_item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #001973;
}

.features .features_item ul {
  list-style: none;
  padding: 0;
}

.features .features_item ul li {
  padding-bottom: 10px;
}

.features .features_item ul li:last-child {
  padding-bottom: 0;
}

.features .features_item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.features .features_item p:last-child {
  margin-bottom: 0;
}