/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .card {
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    border-radius: 0;
    height: 100%;
  }
  
  .services .card .card_img {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  .services .card .card_img img {
    transition: 0.3s ease-in-out;
  }
  
  .services .card h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
  }
  
  .services .card a {
    color: #001973;
    transition: 0.3;
  }
  
  .services .card a:hover {
    color: var(--color-primary);
  }
  
  .services .card p {
    padding: 0 30px;
    margin-bottom: 30px;
    color: var(--color-secondary);
    font-size: 15px;
  }
  
  .services .card:hover .card_img img {
    transform: scale(1.1);
  }