/*--------------------------------------------------------------
# Cars
--------------------------------------------------------------*/

.all_cargo {
    margin: 3px 0;
    border-radius: 0.375rem;
    display: flex;
    padding: 10px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #0670EC;
    min-height: 90px;
}

.all_cargo_count {
    position: absolute;
    bottom: 10px;
    color: #31343D;
    font-size: 30px;
    line-height: 1em;
}

.all_cargo svg {
    position: absolute;
    right: 10px;
}

.cyan_bg {
    background-color: #F1EFFF;
}

.cyan {
    fill: #A69BFF;
}

.yellow_bg {
    background-color: #FFF7F0;
}

.yellow {
    fill: #FFC06C;
}

.green_bg {
    background-color: #E6F6DA;
}

.green {
    fill: #B0E786;
}

.announcements_img {
    max-width: 100%;
    height: auto;
}

.dislike,
.heart {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 0;
    float: none;
    cursor: pointer;
}

.dislike:hover,
.heart:hover {
    color: #dc3545;
}

.label {
    margin: 0 0 2px;
    width: auto;
    padding: 0;
    float: none;
    color: #85A2AF;
    font-size: 10px;
    font-weight: normal;
}

.date {
    margin: 0 0 15px;
    font-weight: bold;
}

.add {
    color: #ABB3BB;
    font-style: italic;
    font-weight: normal;
    text-transform: lowercase;
}

.route {
    margin: 0 0 15px;
}

.route_item {
    box-sizing: border-box;
    width: 250px;
    padding: 8px 10px;
    overflow: hidden;
    border: 1px solid #BDD6EF;
    border-radius: 4px;
    color: #ABB6C0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arr {
    display: flex;
    align-items: center;
}

.arr:before {
    content: "→";
    padding: 0 5px;
    font-size: 20px;
    color: #2F80ED;
}

.label {
    margin: 0 0 2px;
    width: auto;
    padding: 0;
    float: none;
    color: #85A2AF;
    font-size: 10px;
    font-weight: normal;
}

.route_item > span {
    margin-right: 5px;
    color: #000;
    font-weight: bold;
}

.route_link {
    display: block;
    margin: 5px 0 0;
    color: #ABB3BB;
    font-style: italic;
    text-transform: lowercase;
}

.details {
    display: flex;
    align-items: end;
}

.detailsBlock {
    width: 260px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details_info {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    background: #F7FBFF;
    border: 1px solid #EFF6FD;
    border-radius: 3px;
}

.company_info {
    position: relative;
    padding: 10px;
}

.company_name {
    padding: 0 0 15px;
    color: #ABB3BB;
}

.reg_date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #A2B5C8;
    font-size: 11px;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 3px;
}

.view_info_btn {
    cursor: pointer;
}

.funcs {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}
