/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/

.news_content {
    padding: 40px 30px;
}

.newsItem {
    box-shadow: 0 0 15px #ededed;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-bottom: 40px;
}

.newsItem:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
    box-shadow: 0px 15px 15px 0px #edeaea;
}

.newsimg img {
    width: 100%;
}

.news_postdate {
    color: #FF3A46;
}

.news_content h3 {
    color: #233D63;
    font-size: 22px;
    margin-bottom: 25px;
}

.news_authorinfo {
    border: transparent;
    padding: 14px 0px 0px 0px;
    background: transparent;
    font-size: 14px;
}

.news_authorinfo i {
    margin-right: 6px;
}

.news_authorinfo span:last-child {
    float: right;
}

.news_authorinfo a {
    color: #666;
}

.news_item {
    border-radius: 15px;
}

.new_img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.fadeInUp {
    cursor: pointer;
}

.news_text {
    max-height: 75px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}