/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured_services .service_item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .featured_services .service_item .icon {
    margin-right: 20px;
  }
  
  .featured_services .service_item .icon i {
    color: #001f8d;
    font-size: 48px;
    transition: 0.3s;
  }
  
  .featured_services .service_item:hover .icon {
    background: #fff;
  }
  
  .featured_services .service_item:hover .icon i {
    color: var(--color-primary);
  }
  
  .featured_services .service_item .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-secondary);
    transition: 0.3s;
  }
  
  .featured_services .service_item .description {
    font-size: 15px;
    color: #132848;
    margin-bottom: 10px;
  }
  
  .featured_services .service_item .readmore {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    transition: 0.3s;
    font-weight: 700;
    font-size: 14px;
  }
  
  .featured_services .service_item .readmore i {
    margin-left: 8px;
  }
  
  .featured_services .service_item:hover .title,
  .featured_services .service_item:hover .readmore,
  .featured_services .service_item:hover .icon i {
    color: var(--color-primary);
  }