/*--------------------------------------------------------------
# About The System Section
--------------------------------------------------------------*/

.title {
  font-size: 18px;
  color: #525c69;
  display: block;
  margin: 25px 0 15px;
}

.under_list_info {
  line-height: 1.5em;
  margin: 40px 0 0;
  border-radius: 5px;
  color: #828b95;
  font-size: 13px;
}
