/*--------------------------------------------------------------
# Ctfacetop Menu Section
--------------------------------------------------------------*/

.all_cargo {
  margin: 3px 0;
  border-radius: 0.375rem;
  display: flex;
  padding: 10px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #0670EC;
  min-height: 90px;
}

.all_cargo_count {
  position: absolute;
  bottom: 10px;
  color: #31343D;
  font-size: 30px;
  line-height: 1em;
}
