/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call_to_action {
  background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url("/cta-bg.jpg") center center;
  background-size: cover;
  padding: 100px 0;
}

@media (min-width: 1365px) {
  .call_to_action {
    background-attachment: fixed;
  }
}

.call_to_action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.call_to_action p {
  color: #fff;
}

.call_to_action .cta_btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.call_to_action .cta_btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}