/*--------------------------------------------------------------
# Documents
--------------------------------------------------------------*/
.document_img {
    padding: 5px !important;
}

.document_img:hover {
    padding: 0px !important;
}

.document_name {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}
