/*--------------------------------------------------------------
# Edit Email
--------------------------------------------------------------*/
.edit_profile_container {
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 10px;
}