/*--------------------------------------------------------------
# Scroll Button Section
--------------------------------------------------------------*/

#scroll_btn {
  display: block;
  width: 100%;
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 0;
  text-align: center;
}

#scroll_btn_text {
  display: inline-block;
  padding: 15px 20px 15px 50px;
  width: auto;
  height: auto;
  background: url(/icons/ct-add.svg) no-repeat 13px center #198754;
  border-radius: 80px;
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
  text-transform: capitalize;
}